.quiz-container {
  //background-color: white;
  width: min(90%, 800px);
  margin: 10rem auto;
    padding: 4rem 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.15),
    0 0 20px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.42);

  color: white;

   h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
  }
}


.start-btn {
    margin-top: 2rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;

  background-color: #FAFBFC;

  backdrop-filter: blur(10px);

  font-size: 1rem;
  font-weight: 600;

  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.35);
  }

  &:active {
    transform: translateY(0);
  }
}

.result-card {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.result-label {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.album-img {
  width: 14rem;
  margin-bottom: 1.2rem;
}

.result-content h2 {
  margin: 0.5rem 0 0.2rem;
  font-size: 2.3rem;
}

.album-artist {
  margin: 0;
  font-size: 1.3rem;
}

.album-year {
  margin: 0 0 1rem;
  font-size: 1rem;
}

.album-description {
  margin: 0;
  max-width: 28rem;
  font-size: 1.2rem;
  line-height: 1.35;
  text-align: center;
  color: gray;
}