body {
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #ffdab9,
    #c7b8ea,
    #ffd6e7,
    #bde0fe
  );

  background-size: 400% 400%;

  animation: gradientFlow 20s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}